@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.956);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;

    img {
        height: auto;
        width: 12rem;
        transform-style: preserve-3d;
        animation: loaderAnimation 2s ease-in-out infinite;
    }
}

@keyframes loaderAnimation {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
}

.spinner-outer-wrapper {
    .spinner-wrapper {
        background: white;
        height: 100vh;
        padding: 1rem;

        .spinner-accountBalnce {
            margin-top: 4rem;
            margin-bottom: -4rem;

            h3 {
                color: $secondaryColor;
                text-align: center;
                font-size: 1.4rem;
            }
        }

        #wheel {
            display: flex;
            justify-content: center;
            position: relative;
            flex-direction: column;
        }

        .spinn-btns {
            padding: 0rem 2rem;
            margin-top: -4rem;

            p {
                text-align: center;
                font-size: 2rem;
                color: $secondaryColor;
                margin-bottom: 1rem;
                font-size: 1.4rem;
                font-weight: 600;
            }

            button {
                padding: 1rem;
                margin-bottom: 1rem;
                outline: none;
                border: none;
                font-size: 1.2rem;
                width: 100%;
                cursor: pointer;
            }
        }

        .event_rules {
            padding: 0rem 2rem;

            h3 {
                font-size: 1.4rem;
                margin-bottom: 1rem;
            }

            ul {
                li {
                    font-size: 1.2rem;
                    margin: 1rem 0;
                    font-weight: 500;
                }
            }
        }

    }
}

.d-none {
    display: none !important;
}

.fetch-animation-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.go2072408551 {
    max-width: 720px !important;
}